/* ==========================================================================
   FT EDD License
   ========================================================================== */
.cf-ft_edd_license__container {
	display: grid;
	grid-template-columns: 3fr 1fr;
	gap: 10px;
}

.cf-ft_edd_license__input {
	display: block;
	width: 100% !important;
	margin: 0;
}
